h3   {
    text-align: center;
}

ul {
text-align: center;
    display:inline;
    }

.lista li {
display: inline;
}

.list1 {
margin-left: 540px;
}

.list2 {
    margin-left: 540px;
}

.list3 {
    margin-left: 540px;
}